body {

    padding: 0%;
    margin: 0%;
    align-items: center;
}

.grid-item {
    background-color: rgba(211, 198, 198, 0.993), 0, 0;
}

.image {
    width: 100%;
    height: 100%;
}

.grille {
    position: relative;

}

.bouton {
    position: relative;
    float: right;
    right: 80%;
}